{% set headlineTitle = pimcore_input('headlineTitle', {
    placeholder: 'jwPimAreas.headline.headlineTitle' | trans({}, 'admin', editorLanguage),
}) %}
{% set headline = pimcore_input('headline', {
    placeholder: 'jwPimAreas.headline.name' | trans({}, 'admin', editorLanguage),
}) %}
{% set headlineSub = pimcore_input('headlineSub', {
    placeholder: 'jwPimAreas.headline.subheadline' | trans({}, 'admin', editorLanguage),
}) %}

<header class="jwpimareas-header jwpimareas-header-{{ headlineData.hKey }}{{ not headlineSub.isEmpty() ? ' jwpimareas-h-sub-pb-add' : ''}}">
    {%- if editmode or not headlineTitle.isEmpty() -%}
        <div class="jwpimareas-h-title{{ editmode ? ' pb-3>' : '' }}">{{ headlineTitle | raw }}</div>
    {%- endif -%}
    <{{ headlineData.hSize }} {{ headlineData.hClass | raw }}>{{ headline | raw }}</{{ headlineData.hSize }}>
    {%- if editmode or not headlineSub.isEmpty() -%}
        {{ editmode ? '<div class="pt-2">' : '' }}
        <{{ headlineData.hSubSize }} {{ headlineData.subClass | raw }}>{{ headlineSub | raw }}</{{ headlineData.hSubSize }}>
        {{ editmode ? '</div>' : '' }}
    {%- endif -%}
</header>
