{% set anchor = pimcore_input('anchor').getData() %}

{% set headlineTitle = pimcore_input('headlineTitle', {
    placeholder: 'jwPimAreas.headline.headlineTitle' | trans({}, 'admin'),
}) %}
{% set headline = pimcore_input('headline', {
    placeholder: 'jwPimAreas.headline.name' | trans({}, 'admin'),
}) %}
{% set headlineSub = pimcore_input('headlineSub', {
    placeholder: 'jwPimAreas.headline.subheadline' | trans({}, 'admin'),
}) %}

{#
{% import 'macros/jwpimares-layout.html.twig' as macrosJwpimaresLayout %}
 class="{{ macrosJwpimaresLayout.macro_gridColumns() }}"
#}

<div{{ anchor ? ' id="' ~ anchor ~ '"' : '' }}>
    {%- if editmode or not headlineTitle.isEmpty() -%}
        <div class="jwpimareas-h-title{{ editmode ? ' pb-2>' : '' }}">{{ headlineSub | raw }}</div>
    {%- endif -%}
    <{{ hSize }}{{ hClass | raw }}>{{ headline | raw }}</{{ hSize }}>
    {%- if editmode or not headlineSub.isEmpty() -%}
        {{ editmode ? '<div class="pt-2">' : '' }}
        <{{ hSubSize }}{{ subClass | raw }}>{{ headlineSub | raw }}</{{ hSubSize }}>
        {{ editmode ? '</div>' : '' }}
    {%- endif -%}
</div>
