{% set anchor = pimcore_input('anchor').getData() %}

{% set headline = pimcore_input('headline', {
    placeholder: 'jwPimAreas.headline.name' | trans({}, 'admin'),
}) %}
{% set headlineSub = pimcore_input('headlineSub', {
    placeholder: 'jwPimAreas.headline.subheadline' | trans({}, 'admin'),
}) %}

{% import 'macros/jwpimares-layout.html.twig' as macrosJwpimaresLayout %}

<div{{ anchor ? ' id="' ~ anchor ~ '"' : '' }} class="{{ macrosJwpimaresLayout.macro_gridColumns() }}">
    <{{ size }}{{ hClass | raw }}>{{ headline | raw }}</{{ size }}>
    {%- if editmode or not headlineSub.isEmpty() -%}
        {{ editmode ? '<div class="pt-2">' : '' }}
        <{{ subSize }}{{ subClass | raw }}>{{ headlineSub | raw }}</{{ subSize }}>
        {{ editmode ? '</div>' : '' }}
    {%- endif -%}
</div>
