{% set anchor = pimcore_input('anchor').getData() %}

{% set headlineTitle = pimcore_input('headlineTitle', {
    placeholder: 'jwPimAreas.headline.headlineTitle' | trans({}, 'admin'),
}) %}
{% set headline = pimcore_input('headline', {
    placeholder: 'jwPimAreas.headline.name' | trans({}, 'admin'),
}) %}
{% set headlineSub = pimcore_input('headlineSub', {
    placeholder: 'jwPimAreas.headline.subheadline' | trans({}, 'admin'),
}) %}

{#
{% import 'macros/jwpimares-layout.html.twig' as macrosJwpimaresLayout %}
 class="{{ macrosJwpimaresLayout.macro_gridColumns() }}"
#}

{%- if headlineData is defined -%}
    <div{{ anchor ? ' id="' ~ anchor ~ '"' : '' }}>
        {%- if editmode or not headlineTitle.isEmpty() -%}
            <div class="jwpimareas-h-title{{ editmode ? ' pb-2>' : '' }}">{{ headlineTitle | raw }}</div>
        {%- endif -%}
        <{{ headlineData.hSize }}{{ headlineData.hClass | raw }}>{{ headline | raw }}</{{ headlineData.hSize }}>
        {%- if editmode or not headlineSub.isEmpty() -%}
            {{ editmode ? '<div class="pt-2">' : '' }}
            <{{ headlineData.hSubSize }}{{ headlineData.subClass | raw }}>{{ headlineSub | raw }}</{{ headlineData.hSubSize }}>
            {{ editmode ? '</div>' : '' }}
        {%- endif -%}
    </div>
{%- endif -%}
