{% set anchor = pimcore_input('anchor').getData() %}

{% set textblock = pimcore_wysiwyg('textblock', {
    placeholder: 'jwPimAreas.texteditor.name' | trans({}, 'admin', editorLanguage),
}) %}



<div{{ anchor ? ' id="' ~ anchor ~ '"' : '' }}{{ columnCount is defined and columnCount ? ' class="jwpimareas-wysiwyg-column-count"' : '' }}>

    {% if editmode %}
        <div class="mt-3 mb-1 border-b">
            <small>{{ 'jwPimAreas.image.plural' | trans({}, 'admin', editorLanguage) }}:</small>
        </div>
    {% endif %}

    {% set jwPimAreasImages = pimcore_block('jwPimAreasImages' ~ info.id , {
        'manual': true,
        'reload': true
    }).start() %}
    <div>
    {% for jwPimAreasImage in jwPimAreasImages.iterator %}
        {% do jwPimAreasImages.blockConstruct() %}
            {% do jwPimAreasImages.blockStart() %}
                {{ pimcore_area(
                    'jwPimAreasElement-' ~ document.id ~ '-' ~ info.getIndex() ~ '-' ~ jwPimAreasImages.getCurrent(),
                    {
                        'type': 'jwpimareas-element-image',
                        'params': {
                            'jwpimareas-element-image': {
                                'imageIndex': jwPimAreasImages.getCurrent() + 1,
                            },
                        }
                    }
                ) }}
            {% do jwPimAreasImages.blockEnd() %}
        {% do jwPimAreasImages.blockDestruct() %}
    {% endfor %}
    </div>
    {% do jwPimAreasImages.end() %}

    {% if editmode %}
        <div class="mt-3 mb-1 border-b">
            <small>{{ 'jwPimAreas.custom.end' | trans({}, 'admin', editorLanguage) }}</small>
        </div>
    {% endif %}

</div>
