{% set asFlexboxGrid = pimcore_checkbox('asFlexboxGrid').isChecked() %}
{% set anchor = pimcore_input('anchor') ?: null %}

<div{{ anchor ? ' id="' ~ anchor ~ '"' : '' }}{{ asFlexboxGrid ? ' class=""' : '' }}>
    {% if editmode %}
        <div class="pb-2">{{ 'jwPimAreas.snippet.label'' | trans([], 'admin') }}</div>
        {{ pimcore_relation('snippet', {
            'types': ['document'],
            'subtypes': {
                'document': ['snippet'],
            },
            'reload': true
        }) }}
    {% else %}
        {% if not pimcore_relation('snippet').isEmpty() %}
            {{ pimcore_inc(pimcore_relation('snippet').getElement().getFullPath()) }}
        {% endif %}
    {% endif %}
</div>
