<!DOCTYPE html>
<html class="scroll-smooth" lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Build the robots meta tag: #}
    {% if jwPimAreas.noIndexAll %}
        <meta name="robots" content="noindex,nofollow,noodp,noydir,noarchive">
        <!-- This page: {{ jwPimAreas.noIndex ? 'no' : '' }}index, {{ jwPimAreas.noFollow ? 'no' : '' }}follow -->
    {% else %}
        {% set jwPimAreas_robots = (jwPimAreas.noIndex ? 'no' : '') ~ 'index,' %}
        {% set jwPimAreas_robots = jwPimAreas_robots ~ (jwPimAreas.noFollow ? 'no' : '') ~ 'follow' %}
        <meta name="robots" content="{{ jwPimAreas_robots }},noodp,noydir,noarchive">
    {% endif %}

    {# theme color and background color on iOS devices: #}
    <meta name="theme-color" content="{{ jwPimAreas.themeColor | default('#000') | raw }}">

    {# Disable some rogue tools, especially in MS Edge: #}
    <meta name="imagetoolbar" content="false">
    <meta name="format-detection" content="telephone=no">

    {% set jwPimAreas_title = document.getTitle() | trim %}
    {% set jwPimAreas_description = document.getDescription() | trim %}
    {% if jwPimAreas_title %}
        {% do pimcore_head_title().set(jwPimAreas_title) %}
        {% do pimcore_head_meta().setProperty('og:title', jwPimAreas_title) %}
    {% endif %}
    {{ pimcore_head_title() }}

    {% if jwPimAreas_description %}
        {% do pimcore_head_meta().setDescription(jwPimAreas_description) %}
        {% do pimcore_head_meta().setProperty('og:description', jwPimAreas_description) %}
    {% endif %}

    {% do pimcore_head_meta().setProperty('og:type', jwPimAreas.isRootPage ? 'website' : 'article') %}
    {% do pimcore_head_meta().setProperty('og:locale', app.request.locale) %}
    {% do pimcore_head_meta().setProperty('og:image', '') %}

    {{ pimcore_head_meta() }}

    {% block stylesheets %}
        {# Bundle CSS: #}
        {{ encore_entry_link_tags('pimAreaBricksApp', null, 'pimareabricks') }}

        {# Custom-built CSS, optionally including its bundle name: #}
        {% if jwPimAreas.cssKey is defined and jwPimAreas.cssKey %}
            {{ encore_entry_link_tags(jwPimAreas.cssKey, null, jwPimAreas.cssKeyBundle) }}
        {% endif %}

        {# Custom-built color thema and layout values, optionally including its bundle name: #}
        {% if jwPimAreas.customTheme is defined and jwPimAreas.customTheme %}
            {{ encore_entry_link_tags(jwPimAreas.customTheme, null, jwPimAreas.customThemeBundle) }}
        {% endif %}

        {% if editmode %}
            {{ encore_entry_link_tags('pimAreaBricksEditmode', null, 'pimareabricks') }}
        {% endif %}
    {% endblock %}
</head>
<body class="jwpimareas-page-id-{{ jwPimAreas.pageId }} {{ jwPimAreas.bodyFontFamily }} {{ jwPimAreas.bodyFontWeight }}{{ jwPimAreas.bodyAntialiased ? ' antialiased' : '' }} bg-jwpimareas-body text-jwpimareas-body-text{{ editmode ? ' editmode' : '' }}">
{% if not editmode or jwPimAreas.headFootInPim %}
    <div class="fixed top-0 left-0 h-jwpimareas-header w-screen max-w-screen bg-jwpimareas-header text-jwpimareas-header-text jwpimareas-shadow-header z-40 transition-[height] duration-500">
        <header>
            <div class="flex">
                <div class="jwpimareas-page-side"></div>
                <div class="jwpimareas-page-flex flex">Header</div>
                <div class="jwpimareas-page-side"></div>
            </div>
        </header>
    </div>
{% endif %}
<div class="jwpimareas-page absolute top-0 left-0 flex flex-col">
    <div class="h-jwpimareas-header"></div>
    <div class="flex-auto">
        <main>
            <div class="flex">
                <div class="jwpimareas-page-side"></div>
                <div class="jwpimareas-page-flex jwpimareas-page-content flex flex-wrap content-stretch">
                    <div>{{ dump(jwPimAreas) }}</div>
                    {% block content %}{% endblock %}
                </div>
                <div class="jwpimareas-page-side"></div>
            </div>
        </main>
    </div>
    {% if not editmode or jwPimAreas.headFootInPim %}
        <div class="jwpimareas-page-footer pt-jwpimareas-footer-space">
            <footer>
            <div class="flex pt-jwpimareas-footer  pt-jwpimareas-footer-t pb-jwpimareas-footer-b bg-jwpimareas-footer-bg text-jwpimareas-footer-text">
                <div class="jwpimareas-page-side"></div>
                <div class="jwpimareas-page-flex flex">Footer</div>
                <div class="jwpimareas-page-side"></div>
            </div>
            </footer>
        </div>
    {% endif %}
</div>

{% block javascripts %}
    {# Bundle JS: #}
    {{ encore_entry_script_tags('pimAreaBricksApp', null, 'pimareabricks') }}

    {# Custom-built JS, optionally including its bundle name: #}
    {% if jwPimAreas.jsKey is defined and jwPimAreas.jsKey %}
        {{ encore_entry_script_tags(jwPimAreas.jsKey, null, jwPimAreas.jsKeyBundle) }}
    {% endif %}
{% endblock %}

</body>
</html>
